* {
  margin: 0;

  padding: 0;
}
html {
  font-size: 6.25%;
}
body {
  background: #000;
  color: #fff;
  font-size: 16rem;
  padding: 50rem 0;
}
.wrap {
  max-width: 500rem;
  margin: 0 auto;
}

img {
  width: 100%;
}
.img-wrap {
  width: 100%;
  height: 500rem;
  border-radius: 50%;
  overflow: hidden;
}
.flex{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50rem 0;
    padding: 10rem 0;
}
.flex::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1rem;
    background: #fff;
}
.flex p, h4{
    text-align: right;
}
.flex h4{
    font-size: 26rem;
    margin: 10rem 0;
}

.quote{
    margin-top: 50rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 160rem;
}
.left-side{
    position: absolute;
    font-size: 14rem;
}
.left-side span{
    display: block;
}
.right-side{
    width: 100%;
    text-indent: 50%;
    position: absolute;
    top: 0;
    font-size: 26rem;
    word-break:break-all;
}

.trigger{
    padding: 200rem 0;
    font-size: 20rem;
}
ul{list-style: none;}
ul li span{display: block; opacity: 0.7;}
ul li {margin-bottom: 10rem; font-size: 18rem;}